/*specification*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}

.marker-gray {
    color: gray;
}

/*-----------------------------------------------------------page__main----------------------------------------------------------------*/

/*Container*/

.container {
    max-width: 5000px;
    
}

.nav__burger {
    display: none;
}

.header__container {
    max-width: 5000px;
}


.news__container {
   max-width: 1500px;
    margin: 0 auto;
}

.footer-top__container {
    display: flex;
    justify-content: space-around;
    max-width: 1900px;
}

.footer-bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1900px;
}



/*header*/

.nav {
    display: flex;
    position: absolute;
    z-index: 1;
    justify-content: space-between;
    width: 90%;
    padding-left: 15em 
}

.nav__logo img {
    width: 125px;
    height: 57px;
}

.nav__menu-list {
    display: flex;
    align-items: center;
}

.nav__link a, .open-sub {
    font-weight: 600;
    font-size: 1.8em;
    color: #4F4F4F;
    transition: .5s;
    margin: 0 35px;
}

.nav__link a:hover {
    transition: .5s;
    color: rgb(255, 83, 83);
}

.nav__user {
    display: flex;
    align-items: center
}

.nav__user img{
    margin: 0 10px;
}

.nav__user img:first-child {
    margin-left: 0;
}

.nav__user img:last-child {
    margin-right: 0;
}


/*-sub-menu*/

.open-sub:hover {
    transition: .5s;
    color: rgb(255, 83, 83);
    cursor: pointer;
}

.sub-menu-block {
    position: absolute;
    right: -9.5%;
    top: -600%;
    width: 1850px;
    transition: all 2s ease 0s;
    border: 0px solid;
    border-radius: 10px;
}

.sub-menu-block__container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
    height: 300px;
    border-radius: 0px 0px 15px 15px;
}

.sub-menu-block__shoes,
.sub-menu-block__clothes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    text-align: center;
}

.sub-menu-block__shoes h2,
.sub-menu-block__clothes h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000;
}

.sub-menu-block__shoes ul,
.sub-menu-block__clothes ul {
    list-style: none;
}

.sub-menu-block__shoes li,
.sub-menu-block__clothes li {
    margin-top: 10px;
}

.sub-menu-block__shoes li a,
.sub-menu-block__clothes li a {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    transition: .5s;
    font-weight: 500;

}

.sub-menu-block__shoes li a:hover,
.sub-menu-block__clothes li a:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
    
}

.li-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.12em;
    color: #000000;
    
}

.sub-menu-block.active {
    display: block;
    top: 100%;
    right: -9.5%;
    transition: all 2s ease 0s;
}




/* Слайдер */
.header__slider.slick-slider{
	min-width: 0;
    position: relative;
    
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
    
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}

/* Точки */
.header__slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    position: absolute;
    top: 74.9%;
    left: 77%;
}
.header__slider .slick-dots li{
    list-style: none;
    margin: 0 40px;
}
.header__slider .slick-dots button{
    font-size: 0;
    position: absolute;
    width: 70px;
    height: 10px;
    border: 2px solid #4F4F4F;
    background-color: #4F4F4F;
    
}

/* Конкретный слайдер */

.header__slider {
	position: relative;
}

.header__slider .slick-dots li.slick-active button{
	background-color: rgb(255, 83, 83);
    border: 0;
}

.slider__item {
	padding: 0px 15px;
}

.header__slider-item {
    padding-top: 15em;
    padding-left: 7em;
    background-size: 100%;
    padding-bottom: 100px;
    
}

.header__slider-item--1 {
    background: url(../img/background/1.jpg);
    background-size: cover;   
}

.header__slider-item--2 {
    background: url(../img/background/2.jpg);
    background-size: cover;
}   

.header__slider-item--3 {
    background: url(../img/background/3.jpg);
    background-size: cover;
}


.header__item-headline h1 {
    font-weight: bold;
    font-size: 5.5em;
    /* or 60px */
    letter-spacing: 0.15em;
    color: #4F4F4F;
    line-height: 142.4%;
}

.header__item-text {
    margin-top: 2.5em;
}

.header__item-text h2 {
    font-weight: 500;
    font-size: 1.8em;
    line-height: 22px;
    color: #4F4F4F;
}

.header__item-btn {
    margin-top: 56px;
}

.header__item-btn button {
    width: 282px;
    height: 54px;
    background: rgb(255, 83, 83);
    border-radius: 3px 50px 50px 3px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    
}

.header__item-btn button:hover {
    box-shadow: 2px 2px 15px 5px rgb(255, 83, 83);
    transition: 0.5s;
    background-color: rgb(255, 83, 83);
    border-radius: 50px 50px 50px 50px;
    transform: scale(1.030);
}



/*Section-products*/

.products {
    padding-top: 29px;
    padding-bottom: 50px;
}

.tabs__caption {
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9em;
    letter-spacing: 0.05em;
    color: #000000;
    justify-content: center;
    max-width: 1900px;
    margin: 0 auto;
}

.tabs__caption li {
    margin: 0 10px;
}

.tabs__caption li:first-child {
    margin-left: 0;
}

.tabs__caption li:last-child {
    margin-right: 0;
}

.tabs__caption li:hover {
    cursor: pointer;
}

.stocks,
.popular,
.new {
    transition: ease .5s;
}

.popular.active,
.stocks.active,
.new.active {
    transform: scale(1.1);
    font-weight: bold;
    transition: ease .5s;
}

.tabs__content-common {
    display: flex;
    flex-wrap: wrap;
}

.tabs__content-clothes {
    display: flex;
    margin: 0 auto;
}

.tabs__content-shoes {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.tabs__content {
    display: none;
    max-width: 1440px;
    margin: 0 auto;
}
.tabs__content.active {
  display: block;
}

.tabs__card-photo img{
    margin-top: 14px;
}

.tabs__content-common {
    margin: 0 auto;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;

}


.tabs__content-card {
    width: 316px;
    height: 477px;
    text-align: center;
    padding-top: 20px;
    transition: .5s;
}

.tabs__photo-logo {
   font-size: 16px;
    font-weight: 800;
    margin-top: 16px;
}

.tabs__card-photo {
    width: 250px;
    height: 250px;
    background: rgba(218, 218, 218, 0.68);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.tabs__card-search {
    display: flex;
    width: 250px;
    margin: 0 auto;
}

.tabs__card-search img {
    width: 25px;
    margin-top: 20px;
}

.tabs__content h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 40px;
}

.tabs__card-description p {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 5px;
}

.tabs__card-size {
    margin-top: 24px;
}

.size {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.tabs__card-price {
    margin-top: 44px;
}

.price {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.tabs__card-btn {
    padding-top: 55px;
    display: none;
    transition: .5s;
}

.btn-buy {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    width: 149px;
    height: 37.25px;
    background: #FF5353;
    border-radius: 3px;
    transition: .5s;
}

.btn-buy:hover {
    transform: scale(1.1);
    transition: .5s;
}


.tabs__content-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.tabs__card-container:hover .tabs__card-price {
    display: none;
    transition: .5s;
}

.tabs__content-card:hover .tabs__card-btn {
    display: block;
    transition: .5s;
}

/*section-logo*/

.logo {
    padding-top: 80px;
    padding-bottom: 96px;
}

.logo__image {
    text-align: center;
    max-width: 5000px;
}

.logo__image img {
    width: 100%;
    height: 100%;
}

/*section-news*/


.news__content{
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
    padding-bottom: 150px;
    max-width: 1700px;
    margin: 0 auto;
}

.news__content-card {
    width: 342px;
    max-height: 850px;
    transition: 2s;
}

.news__content-card img {
    opacity: 0.7;
    transition: 1s;
}

.news__wrapper-card:hover {
	box-shadow:0 0 10px rgba(0,0, 0, .5);
    font-size: 16px;
    transition: .5s;
}


.news__wrapper-card {
    padding: 20px;
    padding-bottom: 50px;
    transition: .5s;
    margin-top: 50px;
}

.news__title {
    padding-left: 20px;
}

.news__card-title h3,
.news__title h2 {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    transition: .5s;
}

.news__card-date {
    transition: .5s;
}

.news__card-title h3{
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-top: 25px;
    
}

.news__card-sup-text p,
.news__card-sub-text p,
time  {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    
}

.news__card-sub-text p {
    opacity: 0;
    transition: 1s;
}

.news__wrapper-card:hover .news__card-sub-text p {
    opacity: 1;
    transition: 1s;
}

.news__wrapper-card:hover .news__content-card img {
    opacity: 1;
    transition: 1s;
}

.news__card-sup-text p,
.news__card-sub-text p {
    margin-top: 30px;
}


.position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*section-sunscribe*/

.subscribe {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.subscribe__title h2{
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    transition: .5s;
}

.subscribe__form {
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.subscribe__input {
    width: 608px;
    height: 55px;
    border: 4px solid #8d8d8d;
    border-radius: 8px;
    font-size: 15px;
    padding-left: 15px;
    color: #8d8d8d;
    outline: none;
}

.subscribe__btn {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.055em;
    color: #FFFFFF;
    width: 140px;
    height: 55px;
    border: 4px solid #FF5353;
    border-radius: 8px;
    background: #FF5353;
    transition: .5s;
}

.subscribe__btn:hover {
    color: #000;
    transition: .5s;
    cursor: pointer;
}

/*section-footer*/

.footer-top {
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: rgba(79, 79, 79, 0.58);
    position: relative;
    transition: .5s;
}

.footer-top ul {
    display: flex;
    flex-direction: column;
}

.footer-top a {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    transition: .5s;
}

.li-head {
    font-size: 18px;
    font-weight: 500;
}


.footer-top__block {
    display: flex;
    color: #000;
    justify-content: space-between;
    width: 400px;
}

.footer-top__block li {
    margin-top: 23px;
}

.footer-top__block--2 {
    position: absolute;
    left: 43%;
    bottom: 70%;
    opacity: 0;
    transition: .5s;
}

.footer-top:hover .footer-top__block--2 {
    opacity: 1;
    transition: .5s;
}

.footer-top:hover {
    background-color: #4F4F4F;
    transition: .5s;
}


.footer-top a:hover{
    color: #ffffff;
    transition: .5s;
}

.footer-top__block--2 img {
    width: 60px;
    transition: .5s;
}

.footer-top__block--2 img:hover {
    transform: rotate(360deg);
    transition: .5s;
}

.footer-top__block--2 ul {
    flex-direction: row;
}

.footer-top__block--2 ul li {
    margin: 0 10px;
}

.footer-top__container ul {
    display: flex;
}

.footer-top__detals {
    margin-right: 30px;
}

.remark {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

/*footer-bottom*/


.footer-bottom {
    padding:10px 0;
    
}

.footer-bottom__text p {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.footer-bottom__pay {
    display: flex;
    align-items: center;
}


/*----------------------------------------------------------page__product-card---------------------------------------------------------*/
/*Section-header*/
.line {
    max-width: 1800px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid;
    margin: 0 auto;
}

/*Section-product-card*/

.product-card__address p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}

.product-card__content {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    max-width: 1300px;
}

.product-card__images img {
    box-shadow: 0 0 10px rgba(0,0, 0, .5);
}

.product-card__images {
    display: flex;
    justify-content: space-between;
    width: 730px;
}

.item {
  transition: .5s;  
}

.item:hover {
    transform: scale(1.5);
    transition: .5s;
}

.product-card__images-detals img {
    display: flex;
    margin-bottom: 50px;
}

.product-card h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #2C2C2C;
}

.product-card__information-price {
    margin-top: 42px;
}
.product-card__information-price span{
    font-size: 14px;
    line-height: 17px;
    color: #575757;
}
.product-card__information-price p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 19px;
}
.product-card__information-color {
    margin-top: 45px;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 180px;
}

.product-card__information-color p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.color--red:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #FF5353;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

.color--red:hover::before {
    background-color: #FF5353;
}

.color--blue:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #0578FF;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

.color--blue:hover::before {
    background-color: #0578FF;
}

.color--yellow:before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #FCF431;
    border-radius: 50%;
    position: absolute;
    top: 25%;
}

.color--yellow:hover::before {
    background-color: #FCF431;
}


.product-card__information-size {
    margin-top: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 180px;
}
.product-card__information-size p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;  
}

.size {
    border: 1px solid;
    padding: 1px;
}

.size a {
    color: #000;
}
.product-card__information-btn {
    margin-top: 37px;
}

.product-card__information-btn button {
    width: 280px;
    height: 50px;
    background: rgba(106, 45, 45, 1);
    border-radius: 3px 50px 50px 3px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    color: #FFFFFF;
    padding-left: 41px;
    transition: 0.5s;
    margin-bottom: 16px;
}

.product-card__information-btn button:hover {
    box-shadow: 2px 2px 15px 5px rgba(106, 45, 45, 0.74);;
    transition: 0.5s;
    background-color: rgba(106, 45, 45, 0.74);;
    border-radius: 50px 50px 50px 50px;
    transform: scale(1.030);
}

.product-card__information-btn a {
    font-size: 14px;
    line-height: 17px;
    color: #575757;
    text-decoration: underline;
    
}

.product-card__tabs ul{
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}
.product-card__tabs ul li{
    font-size: 20px;
    line-height: 24px;
    color: #575757;
}

.product-card__tabs ul li:hover {
    cursor: pointer;
}

.product-card__tabs ul li.active {
    color: black;
    font-weight: bold;
    transition: .5s;
}

.product-card__tabs-content {
    display: none;
}

.product-card__tabs-content.active {
    display: block;
}

.product-card__tabs-content {
    max-width: 271px;
    margin-top: 10px;
}

.product-card__tabs-content p {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

/*Section-other-goods*/


.other-goods__title h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.other-goods__recommended {
    max-width: 500px;
}

.other-goods__items {
    display: flex;
    justify-content:space-between;
    max-width: 500px;
    margin-top: 20px;
}

.other-goods__item {
    text-align: center;
    width: 150px;
    
}

.other-goods__card {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    background: #E6E6E6;
    justify-content: center;
}

.other-goods__item-logo .logo {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #000000;
}


.other-goods__item img {
    width: 100.8px;
    height: 96px;
}

.other-goods__item-name {
    display: flex;
    max-width: 150px;
    

}

.other-goods__item-name p {
    font-weight: 500;
    font-size: 9px;
    color: #2C2C2C;
    margin: 0 auto;
    margin-top: 13px;
    
}

.other-goods__items .slick-arrow.slick-prev{
	left: 101%;
	background: url('../img/product-card/icon/RIGHT.svg') 0 0 / 100% no-repeat;
    top: 45.2%;
}

.other-goods__items .slick-arrow.slick-next{
	right: 0;
	background: url('../img/product-card/icon/LEFT.svg') 0 0 / 100% no-repeat;
    right: 104%;
    top: 45.2%;
}

.other-goods__items .slick-arrow{
	position: absolute;
	top: 70%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 75px;
}

/*Section-viewed*/

.viewed {
    padding-top: 165px;
    padding-bottom: 160px;
}

.viewed__title {
    max-width: 1309px;
    margin: 0 auto;
}

.viewed__title h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.viewed__slider {
    display: flex;
    justify-content: space-between;
}

.viewed__item {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    
}
.viewed__card {
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background: #E6E6E6;
    
}
.viewed__item-logo .logo {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.12em;
    color: #000000;
}

.viewed__item-name {
    margin-top: 13px;
}
.viewed__item-name p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2C2C2C;
}

.viewed__item-price {
    margin-top: 50px;
}

.viewed__slider .slick-arrow.slick-prev{
	left: 100.5%;
	background: url('../img/product-card/icon/RIGHT.svg') 0 0 / 100% no-repeat;
    top: 45.2%;
}

.viewed__slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/product-card/icon/LEFT.svg') 0 0 / 100% no-repeat;
    right: 100.5%;
    top: 45.2%;
}

.viewed__slider .slick-arrow{
	position: absolute;
	top: 70%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 75px;
}

/*section-preview*/

.reviews {
    padding-bottom: 85px;
}

.reviews .reviews__title h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

.reviews .reviews__form {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}

.review__comment-box {
    margin-top: 32px;   
    display: flex;
    align-items: center;
}

.reviews .reviews__input-name {
    width: 300px;
    height: 50px;
    border: 1px solid #575757;
    padding-left: 15px;
    
}
.reviews .reviews__input-comment {
    width: 700px;
    height: 50px;
    border: 1px solid #575757;
    padding-left: 15px;
}
.reviews .reviews__input-btn {
    width: 200px;
    height: 50px;
    background: #FF5353;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.055em;
    margin-left: 30px;
    border-radius: 3px;
    
}

.reviews__comments-list {
    margin-top: 81px;
    max-width: 662px;
}

.reviews__comments-item {
    margin-top: 80px;
    background-color: rgba(245, 245, 220, 1);
    border-radius: 10px;
    padding: 10px;
}
.reviews__item-account {
    display: flex;
    align-items: center;
    
}

.reviews__account-name {
    margin-left: 20px;
}

.profil-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
}
.reviews__item-review p {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px
}
